body{
	background-color: #108EC8;
}

.header-line, .accounts-list{
	width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: "Segoe UI",Arial,sans-serif;
}

ul, li{
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.hide-caret{
  visibility: hidden;
}

.hide-line{
  display: none;
}

.arrow {
    color: #0F8EC7;
}

.left-arrow{
   padding-left: 6px;
}

.right-arrow{
   padding-right: 6px;
}

.container{
	background-color: white;
	margin-top: 20px;
	width: 70%;
  min-width: 300px;
}

.border-bottom-darker{
	border-bottom: 2px solid #CACACA;
}

.topBar{
	background-color: #f7f7f7;
	width: 50%;
	max-height:60px;
}

.topBar:hover {
    background-color: #E9E9E9;
		cursor: pointer;
}

.topBar.selected {
    background-color: #EFEFEF;
}

.topBar.selected:hover {
    background-color: #E9E9E9;
}

.left-box-heading{
	float: left;
}

.left-box-heading h4 {
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 11px;
}

.right-box-heading{
	float: right;
	line-height: 1em;
}

.right-box-heading h4{
	float: right;
	padding-right: 15px;
}

.right-box-heading p{
	clear: right;
	float: right;
  font-size: 18px;
	padding-right: 15px;
	line-height: 0.5em;
	padding-bottom: 10px;
}

.border-bottom-light{
	border-bottom: 2px solid #E8E8E8 !important;
	padding-bottom: 70px !important;
}

.acct-no{
	float: left;
	color: #1D71A9;
	font-weight: bold;
	width: 50%;
}

.acct-no h2{
	padding-left: 15px;
}

.acct-cash{
	float: right;
}

.acct-cash h2{
  margin-top: 12px;
  text-align: right;
	line-height: 1em;
  padding-right: 15px;
}

.acct-cash h5{
  text-align: right;
	padding-right: 15px;
	line-height: 0.1em;
}

.w3-button, .w3-button:focus, .w3-black, .w3-hover-black:hover{
  position: relative;
	width: 100% !important;
  background-color: white !important;
	color: #3C81B1 !important;
	font-weight: bold !important;
}

.w3-button:hover{
	background-color: #EFEFEF !important;
	color: #3C81B1 !important;
}

.glyphicon {
    top: 4px !important;
    font-weight: lighter !important;
}

/**** MEDIA QUERIES  ***/

@media only screen and (min-width: 820px) and (max-width: 1367px) {
  .container{
    width: 70%;
  }
  .topBar {
    max-height: 75px;
  }
  h2{
		font-size: 33px;
	}
  .right-box-heading p{
		font-size: 24px;
	}
  .acct-no h2{
    font-weight: bold;
    padding-top: 4px;
  }
  h4{
    font-size: 25px;
  }
  .left-box-heading h4 {
    padding-bottom: 20px;
  }
	h5{
		font-size: 21px;
	}
  .acct-cash h5 {
    line-height: 0.5em;
  }
   .border-bottom-light {
    padding-bottom: 84px !important;
  }
}

@media only screen and (min-width: 760px) and (max-width: 819px) {
  .container{
    width: 97%;
  }
  .topBar {
    max-height: 75px;
  }
  .right-box-heading p{
		font-size: 22px;
	}
  h2{
		font-size: 33px;
	}
  .acct-no h2{
    font-weight: bold;
  }
  h4{
    font-size: 23px;
  }
  .left-box-heading h4 {
    padding-bottom: 20px;
  }
	h5{
		font-size: 20px;
	}
  .acct-cash h5 {
    line-height: 0.5em;
  }
  .border-bottom-light {
    padding-bottom: 83px !important;
  }
}

@media only screen and (min-width: 672px) and (max-width: 759px) {
  .container{
    width: 97%;
  }
  h2{
		font-size: 30px;
		padding-top: 0;
	}
  .right-box-heading p{
		font-size: 18px;
	}
  .right-box-heading h4{
		margin-top: 8px;
	}
  .acct-no h2{
    font-weight: bold;
  }
	h5{
		font-size: 18px;
	}
  .border-bottom-light {
    padding-bottom: 77px !important;
  }
  .acct-cash h5 {
    padding-top: 2px;
  }
}

@media only screen and (min-width: 660px) and (max-width: 671px) {
  .container{
    width: 97%;
  }h2{
		font-size: 30px;
		padding-top: 0;
	}
  .right-box-heading p{
		font-size: 18px;
	}
  .right-box-heading h4{
		margin-top: 8px;
	}
  .acct-no h2{
    font-weight: bold;
  }
  .acct-cash h2 {
    margin-top: 10px;
  }
	h5{
		font-size: 18px;
	}
  .border-bottom-light {
    padding-bottom: 73px !important;
  }
}

@media only screen and (min-width: 648px) and (max-width: 659px){
  .container{
    width: 97%;
  }
  h2{
		font-size: 30px;
		padding-top: 0;
	}
  .acct-no h2{
    margin-top: 18px;
    font-weight: bold;
  }
  .acct-cash h2{
    margin-top: 8px;
  }
  .acct-cash h5 {
    line-height: 0.5em;
  }
	h5{
		font-size: 18px;
	}
	h4{
		font-size: 18px;
	}
  .right-box-heading h4 {
		margin-top: 7px;
	}
  .left-box-heading h4 {
    padding-bottom: 10px;
  }
	p{
		font-size: 10px;
	}
	.acct-no{
		width: 50%;
	}
}
@media only screen and (min-width: 640px) and (max-width: 647px){
  .container{
    width: 97%;
  }
  h2{
		font-size: 30px;
		padding-top: 0;
	}
  .acct-no h2{
    margin-top: 18px;
    font-weight: bold;
  }
  .acct-cash h2{
    margin-top: 8px;
  }
  .acct-cash h5 {
    line-height: 0.5em;
  }
	h5{
		font-size: 18px;
	}
	h4{
		font-size: 18px;
	}
  .left-box-heading h4 {
    padding-bottom: 10px;
  }
  .right-box-heading h4 {
    margin-top: 7px;
  }
	p{
		font-size: 10px;
	}
	.acct-no{
		width: 50%;
	}
}
@media only screen and (min-width: 610px) and (max-width: 639px){
	.container{
    width: 97%;
  }
  h2{
		font-size: 30px;
		padding-top: 0;
	}
  .acct-no h2{
    margin-top: 18px;
    font-weight: bold;
  }
  .acct-cash h2{
    margin-top: 8px;
  }
  .acct-cash h5 {
    line-height: 0.5em;
  }
	h5{
		font-size: 18px;
	}
	h4{
		font-size: 18px;
	}
  .left-box-heading h4 {
    padding-bottom: 10px;
  }
  .right-box-heading h4 {
    margin-top: 8px;
  }
	p{
		font-size: 10px;
	}
	.acct-no{
		width: 50%;
	}
}

@media only screen and (max-width: 609px){
	.container{
    width: 97%;
  }
  .right-box-heading p{
		font-size: 17px;
	}
  h2{
		font-size: 25px;
		padding-top: 0px;
	}
  .acct-no h2{
    font-weight: bold;
  }
	h5{
		font-size: 16px;
	}
	h4{
		font-size: 17px;
  }
  .left-box-heading h4 {
    padding-bottom: 10px;
  }
	.acct-no{
		width: 50%;
	}
  .acct-cash h2 {
    margin-top: 10px;
  }
  .border-bottom-light {
    padding-bottom: 65px !important;
  }
}

@media only screen and (max-width: 570px){
	.container{
    width: 97%;
  }
  .right-box-heading p{
		font-size: 17px;
	}
  .right-box-heading h4{
		margin-top: 8px;
	}
  h2{
		font-size: 25px;
		padding-top: 0px;
	}
  .acct-no h2{
    font-weight: bold;
  }
	h5{
		font-size: 16px;
	}
	h4{
		font-size: 17px;
  }
  .left-box-heading h4 {
    padding-bottom: 10px;
  }
	.acct-no{
		width: 50%;
	}
  .acct-cash h2 {
    margin-top: 10px;
  }
  .border-bottom-light {
    padding-bottom: 65px !important;
  }
}

@media only screen and (max-width: 415px){
	.container{
    width: 97%;
  }
  .right-box-heading p{
		font-size: 16px;
	}
  h2{
		font-size: 20px;
		padding-top: 0;
	}
  .acct-no h2{
    font-weight: bold;
  }
  .acct-cash h2 {
    margin-top: 10px;
  }
	h5{
		font-size: 15px;
	}
	h4{
		font-size: 16px;
  }
  .left-box-heading h4 {
    padding-bottom: 10px;
  }
	.acct-no{
		width: 50%;
	}
  .border-bottom-light {
    padding-bottom: 60px !important;
  }
}

@media only screen and (max-width: 375px){
  .container{
    width: 97%;
  }
  .right-box-heading p{
		font-size: 16px;
	}
  h2{
		font-size: 17px;
		padding-top: 0;
	}
  .acct-no h2{
    font-weight: bold;
  }
  .acct-cash h2 {
    margin-top: 10px;
  }
	h5{
		font-size: 12px;
	}
	h4{
		font-size: 16px;
  }
  .left-box-heading h4 {
    padding-bottom: 10px;
  }
	.acct-no{
		width: 50%;
	}
  .border-bottom-light {
    padding-bottom: 55px !important;
  }
}
